.cuotas-page {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.cuotas-contenido {
  padding: 2rem;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: end;
}

.filtros input {
  max-width: 300px;
}

.tarjetas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
